<p id="notice"><%= notice %></p>

<p>
  <b>Phone number:</b>
  <%= @user.phone_number %>
</p>

<p>
  <b>Tested at:</b>
  <%= @user.tested_at %>
</p>

<p>
  <b>Infected:</b>
  <%= @user.infected %>
</p>

<p>
  <b>User:</b>
  <%= @user.user_id %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
